<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos en la tienda</h1>
    <a href="{{ url_for('productos.nuevo_producto') }}">Agregar nuevo producto</a>
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong> -
                {{ producto.descripcion }} -
                Precio: {{ producto.precio }} € -
                Stock: {{ producto.stock }}
            </li>
        {% else %}
            <li>No hay productos disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>
